/*

defaults

*/

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #424242;
}

h1 {
    font-size: 1.5em;
}

input {
    padding: 0.5em;
    border: 1px solid #8a8a8a;
    outline:none;
    transition: border .35s ease-in-out;
}

.card {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card.small {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
}

/*

GRID

*/

.gridContainer {
    display: grid;
    grid-template-columns: auto min-content;
}

/*

Dialog

*/

.vuedialog {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(2px);
}

.vuedialog-content {
    position: relative;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    max-width: 95%;
    max-height: 90%;

    border-radius: 1em;

    padding: 1em;
    background-color: #ffffff;
}


/* smaller screen then 800px: */
@media screen and (max-width: 800px) {
    .gridContainer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}

