<!DOCTYPE html>
<html lang="nl-nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats - Chatbot Lukraak Fontys</title>
    <link rel="stylesheet" href="style/app.css">
    <link rel="stylesheet" href="style/flash.css">
    <link rel="stylesheet" href="style/login.css">
    <link rel="stylesheet" href="style/cards.css">
</head>

<body>
    
    <div id="app">
        <login v-if="!userIsLoggedIn" @login-succes="loginSuccess"></login>
          <button class="logout" @click="logout" v-if="userIsLoggedIn">Logout</button>
        <div  v-if="userIsLoggedIn" class="gridContainer">
          <keyword-hits></keyword-hits>
          <response-hits></response-hits>
        </div>
    </div>

    <script type="module">
      import { createApp, version, computed } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
      import flash from './components/flash.js';
      import login from './components/login.js';      
      import { default as keywordHits } from './components/stats_keyword_hits.js';      
      import { default as responseHits } from './components/stats_response_hits.js';      

      console.log(version);
    
      const app = createApp({
        components: {
            login, keywordHits, responseHits
        },

        data() {
          return {
            userIsLoggedIn: false,
          }
        },

        provide() {
          return {
            userIsLoggedIn: computed(() => this.userIsLoggedIn)
          }
        },

        async mounted() {
            // controleer of gebruiker al is ingelogd
            
            let loginPromise = await fetch('./lib/checklogin.php');
            if(loginPromise.ok) {
                let json = await loginPromise.json();
                this.userIsLoggedIn = (json.succes) ? true : false;
            } else {
              console.log("Error! "+loginPromise.status);
            }
        },

        methods :{

          loginSuccess() {
            this.userIsLoggedIn = true;
          },

          async logout() {
            let loginPromise = await fetch('./lib/logout.php');
            if(loginPromise.ok) {
                let json = await loginPromise.json();
                this.userIsLoggedIn = (json.succes) ? false : true;
            } else {
              console.log("Error! "+loginPromise.status);
            }
          },  
        }
      });
      app.component('flash', flash)
      app.mount('#app');

    </script>

</body>
</html>